# dependências
node_modules/

# build
dist/
.output/
.nitro/
.wrangler/
.vinxi/
.vite/
.tanstack/
.turbo/
.cache/
coverage/

# ambiente local
.env
.env.*
!.env.example

# editor / sistema
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
.DS_Store
Thumbs.db

# logs
*.log
npm-debug.log*
